/* Estilo para los controles de reserva */
.reservation-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.control {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  flex: 1 1 calc(33% - 10px); /* 3 elementos por fila */
}

.control img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .reservation-controls {
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
  }

  .control {
    flex: 1 1 100%; /* Cada control ocupa toda la fila */
  }
}

  
  .reserve-button {
    background-color: #c022a3;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reserve-button:hover {
    background-color: #a50082;
  }
  