* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}

.card {
  border: 1px solid #ddd; /* Borde de la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  background-color: #fff; /* Fondo blanco */
  display: flex;
  width: 100px;
  height: 170px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

p {
  color: #a91f8c;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
