* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}
.eventos {
  display: flex;
  width: 282px;
  height: 1102px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
}

.eventos-card {
  display: flex;
  width: 281px;
  height: 259px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #b8136f;
}

.eventos-card img {
  width: 100%; /* La imagen ocupa todo el ancho */
  height: auto; /* Mantiene la proporción */
  object-fit: cover; /* Ajusta la imagen para que encaje */
}

.eventos-card h3 {
  color: #fff; /* Color del texto */
  font-size: 18px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 12px;
}

.title {
  width: 100%;
  background-color: #b8136f;
  background: #b8136f;
}
.text {
  width: 100%;
}
