.galery-container {
  max-width: 100%; /* Asegura que ocupe todo el ancho del contenedor padre */
  margin: 0 auto; /* Centra el contenedor */
  position: relative;
  padding: 10px; /* Espaciado interno opcional */
}

.galery-image {
  position: relative;
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Permite que la altura sea dinámica */
  aspect-ratio: 16 / 9; /* Relación de aspecto para mantener proporciones */
  background-image: linear-gradient(
      rgba(124, 35, 103, 0.658),
      rgba(172, 20, 136, 0.473)
    ),
    url("/img/airelibre.jpg");
  background-size: cover; /* Escala la imagen para cubrir el contenedor */
  background-position: center;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  filter: brightness(0.6); /* Aplica una tonalidad más oscura */
  border-radius: 8px; /* Bordes redondeados */
}

.galery-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px; /* Tamaño más pequeño para pantallas pequeñas */
  color: white;
  text-align: center;
  padding: 10px; /* Espaciado interno */
  max-width: 90%; /* Asegura que el texto no se desborde */
  line-height: 1.4; /* Mejora la legibilidad */
}
