.eventos-container {
    position: relative;
    width: auto;
    height:auto; /* Ajusta según sea necesario */
    background-image: url("https://res.cloudinary.com/dxagdnafs/image/upload/v1732667433/838beb781e3502023f403341cc05fb5b_hnpmon.png"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  
  /* Superposición de color */
  .eventos-overlay {
    background-color: rgba(
      153,
      0,
      102,
      0.5
    ); /* Superposición morada con opacidad */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Título del evento */
  .eventos-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Descripción */
  .eventos-description {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 600px;
  }