.room-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px; /* Más largas */
    height: auto; /* Menos altas */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px; /* Ajustar el espacio interno */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  .room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .room-card-title {
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
  
  .price-container {
    font-size: 14px;
    margin-top: 5px; /* Separación con el título */
    display: flex;
    flex-direction: column; /* Organizar los precios en columna */
    align-items: center;
  }
  
  .cart-button {
    margin-top: 5px; /* Más espacio con respecto al texto */
    width: 36px; /* Tamaño ajustado del botón */
    height: 36px;
  }
  
  .room-card-price {
    font-size: 14px; /* Ajusta el tamaño del precio */
    font-weight: bold;
    color: #333;
  }
  .room-card-discount {
    font-size: 12px; /* Reduce el tamaño del descuento */
    color: #9e9e9e;
    text-decoration: line-through;
  }
  
  .availability-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .room-card-availability {
    font-size: 12px; /* Reduce el tamaño del texto */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
  }
  
  .available {
    background-color: #23a26d; /* Verde */
    color: white;
  }
  
  .unavailable {
    background-color: #ea5457; /* Rojo */
    color: white;
  }
  
  .cart-button {
    width: 40px; /* Reduce el ancho */
    height: 40px; /* Reduce el alto */
    background-color: #a91f8c; /* Color del fondo */
    border: none;
    border-radius: 50%; /* Forma redonda */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .cart-button img {
    width: 20px; /* Tamaño del ícono del carrito */
    height: 20px;
  }
  
  .cart-button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
  }
  
  .cart-button:disabled {
    background-color: #9e9e9e; /* Gris si está deshabilitado */
    cursor: not-allowed;
  }
  .room-section-grid {
    display: flex;
    flex-wrap: nowrap; /* Previene que las tarjetas salten a la siguiente fila */
    gap: 20px; /* Espaciado entre las tarjetas */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    padding: 10px; /* Espacio alrededor de las tarjetas */
    scroll-behavior: smooth; /* Transición suave al desplazarse */
  }
  
  .room-section-scroll {
    padding-bottom: 10px; /* Añade espacio en la parte inferior para mayor claridad */
  }